.first-screen {
  @include tablet {
    margin-bottom: -28px;
  }

  @include desktop {
    margin-bottom: 80px;
    background-image: linear-gradient(to right, transparent, transparent 51%, $theme-color 51%, $theme-color 100%);
  }
}

.first-screen__wrapper {
  margin-bottom: 25px;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, $theme-color, $theme-color 305px, transparent 305px, transparent 100%);
  background-size: auto 270px, 320px 305px, 100% 305px;
  background-position: 50% 167px, 50% 0, 0 0;
  text-align: center;

  @include retina {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg"), linear-gradient(to bottom, $theme-color, $theme-color 305px, transparent 305px, transparent 100%);
  }

  @include tablet {
    padding-top: 10px;
    padding-bottom: 530px;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    background-position: 50% 100%;

    @include retina {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  @include desktop {
    padding-top: 215px;
    padding-bottom: 190px;
    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-size: 552px 499px, 720px 696px;
    background-position: 66% 140px, 113% 0;

    @include retina {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.first-screen__title {
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
  color: white;
  text-align: center;

  @include tablet {
    max-width: 650px;
    margin-left: 85px;
    font-size: 60px;
    color: $text-one;
    text-align: left;
  }

  @include desktop {
    max-width: 550px;
    margin-left: 80px;
  }
}

.first-screen__descr {
  @include caps;
  margin-bottom: 305px;
  font-size: 14px;
  line-height: 1em;
  color: white;

  @include tablet {
    margin-left: 85px;
    margin-bottom: 50px;
    font-size: 20px;
    color: $text-one;
    text-align: left;
  }

  @include desktop {
    max-width: 550px;
    margin-left: 80px;
  }
}

.first-screen__btn {
  @include tablet {
    width: auto;
    margin-left: 85px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 1em;
    font-weight: 400;
  }

  @include desktop {
    margin-left: 80px;
  }
}
