.form__intro {
  @include caps;
  font-size: 14px;
  line-height: 1.29em;
  font-weight: 400;
  color: $text-one;

  @include tablet {
    font-size: 20px;
    line-height: 1.5em;
  }
}

.form__fieldset {
  position: relative;
  margin-top: 0;
  padding: 0;
  border: 0 none;

  &--border::before,
  &--border::after {
    content: "";
    position: absolute;
    left: 0;
    margin-left: calc(#{$mobile-pads} * -1);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $border-dark;

    @include tablet {
      display: none;
    }
  }

  &--border::before {
    top: 0;
  }

  &--border::after {
    bottom: 0;
  }

  &--border {
    @include tablet {
      @include border50;
      padding: 20px 25px;
    }
  }

  &--text-half {
    @include tablet {
      width: 568px;
      align-self: stretch;
      margin-right: auto;
    }
  }

  &--radio {
    @include tablet {
      width: 570px;
    }
  }
}

.form__group-name {
  font-size: 24px;
  line-height: 1em;
  font-weight: 400;
  color: $text-one;

  @include tablet {
    font-size: 36px;
  }
}

.form__input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;

  &--radio {
    @include tablet {
      width: 100%;
    }

    @include desktop {
      justify-content: space-between;

      &:nth-child(2n-1) {
        width: 565px;
        margin-right: auto;
      }

      &:nth-child(2n) {
        width: 570px;
        margin-right: 0;
      }
    }
  }

  &--checkbox {
    @include tablet {
      width: 50%;
    }

    @include desktop {
      width: auto;
      min-width: 25%;
    }
  }
}

.form__fieldset-flex {
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__input {
  @include caps;
  padding-left: 14px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.26em;
  font-weight: 400;
  color: $text-three;

  &--text {
    @include border50;
    align-self: flex-end;
    flex-grow: 1;
    width: 140px;
    height: 45px;
  }

  &--textarea {
    @include border50;
    width: 100%;
    padding-top: 10px;
    resize: vertical;
  }

  &--radio,
  &--checkbox {
    @include visually-hidden;
  }

  &--icon {
    padding-right: 38px;
  }

  &::placeholder {
    color: $text-three;
  }
}

.form__label {
  @include caps;
  width: auto;
  margin-right: 15px;
  font-size: 16px;
  line-height: 1.13em;
  color: $text-two;

  &--text {
    max-width: 100px;
  }

  &--radio {
    position: relative;
    padding-left: 50px;

    &::before {
      @include border100;
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  &--checkbox {
    position: relative;
    padding-left: 46px;

    &::before {
      @include border100;
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}

.form__input--radio:checked + label.form__label--radio::after {
  content: "";
  position: absolute;
  display: block;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $theme-color;
  border: 10px solid white;
  border-radius: 50%;
  z-index: -1;
}

.form__input--checkbox:checked + label.form__label--checkbox::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  z-index: 100;
}

.form__bottom-wrapper {
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__btn {
  @include tablet {
    width: auto;
    padding-left: 58px;
    padding-right: 65px;
    margin-right: 61px;
  }

  @include desktop {
    min-width: 568px;
    margin-right: 82px;
  }
}

.form__outro {
  font-family: $font-secondary;
  text-align: center;
  font-size: 14px;
  line-height: 1.14em;
  color: $text-three;
}
