.page-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1.67em;
  font-weight: 400;
  color: $text-one;

  @include tablet {
    font-size: 60px;
  }

  &--catalog {
    @include tablet {
      margin-bottom: 5px;
    }
  }

  &--form {
    margin-top: 20px;
  }
}
