.promo {
  display: block;
  width: 100%;
  padding-left: 21%;
  padding-right: 21%;
  padding-top: 63px;
  padding-bottom: 25px;
  color: #ffffff;
  background-color: $theme-color;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    padding-left: 12.5%;
    padding-right: 14.5%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 76px;
  }

  @include desktop {
    display: block;
    width: 245px;
    min-height: 289px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
    padding-bottom: 25px;
  }
}

.promo__icon {
  display: block;
  width: 58px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 62px;
  background-color: red;
  background-repeat: no-repeat;

  &--present {
    background-image: url();
  }

  @include tablet {
    margin-left: 0;
    margin-bottom: 0;
  }

  @include desktop {
    width: 60px;
    margin-left: auto;
    margin-bottom: 53px;
  }
}

.promo__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 400;
  text-align: center;

  @include tablet {
    min-width: 160px;
    max-width: 35%;
    margin-left: auto;
    padding-top: 7px;
    text-align: left;
  }

  @include desktop {
    width: 180px;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

