.section-title {
  position: relative;
  font-size: 24px;
  line-height: 1em;
  font-weight: 400;
  color: $text-one;

  @include tablet {
    font-size: 36px;
  }
}

.section-title--bg {
  @include section-title-bg(15px);
}

.section-title--line {
  &::after {
    content: "";
    position: absolute;
    top: 60%;
    left: calc(100vw - #{$mobile-pads});
    width: 100vw;
    height: 3px;
    background-color: $theme-color;
    z-index: -1;

    @include tablet {
      left: calc((100vw - #{$tablet-width}) / -2);
    }

    @include desktop {
      left: calc((100vw - #{$desktop-width}) / -2);
    }
  }
}
