.show-all {
  display: flex;
  flex-direction: column;
  background: none;
  padding-top: 12px;

  @include tablet {
    align-self: stretch;
    padding-top: 76px;
    border: 1px solid $border-dark;
  }
}

.show-all__text {
  text-align: center;
}

.show-all__main {
  position: relative;
  padding-top: 50px;

  @include caps;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.25em;
  color: $text-two;

  @include tablet {
    margin-bottom: 25px;
    padding-top: 100px;
    font-size: 20px;
    line-height: 1em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 31px;
    height: 31px;
    opacity: 0.2;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-size: 31px 31px;

    @include tablet {
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg");
      background-size: 61px 61px;
    }
  }
}

.show-all__descr {
  display: block;
  margin-bottom: 5px;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 1.3em;
  color: $text-three;

  @include tablet {
    margin-bottom: auto;
    font-size: 16px;
  }
}
