*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
  color: $text-three;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section-title-bg {
  @include title-bg(15px);

  @include tablet {
    @include title-bg(38px);
    margin-left: 0;
  }

  @include desktop {
    @include title-bg(35px);
  }
}
