@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin caps {
  text-transform: uppercase;
}

@mixin list-style-none {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

// заголовки секций
@mixin section-title {
  position: relative;
  font-size: 24px;
  line-height: 1em;
  font-weight: 400;
  color: $text-one;

  @include tablet {
    font-size: 36px;
    line-height: 1em;
  }
}

// фон для заголовков с зелеёной полоской
@mixin title-bg($pad) {
  padding-left: $pad;
  padding-right: $pad;
  margin-left: calc(#{$pad} * -1);
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  background-color: white;
}

// серая рамка для полей формы
@mixin border50 {
  border: 1px solid #e6e6e6;
}

@mixin border100 {
  border: 1px solid $border-dark;
}
