@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin caps {
  text-transform: uppercase;
}

@mixin list-style-none {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

// фон для заголовков с зелеёной полоской
@mixin section-title-bg($pad) {
  padding-left: $pad;
  padding-right: $pad;
  margin-left: calc(#{$pad} * -1);
  background-color: yellow;
}
