$font-main: "Oswald", "Verdana", sans-serif;
$font-secondary: "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$mobile-pads: 20px;
$tablet-pads: 30px;
$desktop-pads: 33px;

$theme-color: #68b738;
$theme-color-dark: #5eaa2f;
$error-color: #ff8282;

$text-one: #111111;
$text-two: #222222;
$text-three: #444444;

$additional-light: #f2f2f2;
$additional-dark: #ebebeb;
$border-color: #ededed;
$border-dark: #cdcdcd;

$outline-color: LightSkyBlue;
